.navbar{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 100;
}

.navbar__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.navbar__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.navbar__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.navbar__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.navbar__nav{
    display: flex;
    justify-content: space-evenly;
}

.navbar__option{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar__optionLineOne{
    font-size: 10px;
}
.navbar__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.navbar__optionBasket{
    color: white;
    display: flex;
    align-items: center;
}
.navbar__basketCount{
    margin: 0px 8px
}